@page "/"

<PageTitle>About Me</PageTitle>

<div class="Title">
    <h1>Nicholas Vardy</h1>
</div>

<div class="Bio">
    I'm a UK based software developer specialising in C# .NET. 
    I have a background in developing Windows Services and WPF desktop applications, and I'm currently expanding my expertise into cloud-based systems such as Azure.
    I'm committed to delivering high-quality code and creating impactful software solutions that meet clients' needs.
</div>

<div class="Employment History">
    Thinking Software - 
</div>

<div class="Skills">
    <u>Skills</u>
    <ul>
        @* <li><b>Programming Languages: </b> C#, C++, VB.NET, Python, SQL, PowerShell</li> *@
        @* <li><b>Libraries, tools and frameworks: </b> .NET Framework, .NET 6, WPF, XAML, Microsoft Unit Test Framework, xUnit, Moq, Dependency Injection, MVVM, Factories/Abstract Factories, Test Driven Development</li> *@
        @* <li><b>Operating Systems and Environments: </b> Windows, Visual Studio, Jetbrains Rider, Azure DevOps, Docker, Github</li> *@
        @* <li><b>Databases: </b> Microsoft SQL Server, MySQL, SQLite</li> *@
        <li>C#</li>
        <li>WPF</li>
        <li>SQL</li>
        <li>REST API</li>
        <li>GitHub</li>
        <li>Docker</li>
        <li>Azure</li>
    </ul>
</div>